# Introduction
Machine Learning Algorithm that takes an asset's high, low, close, open interest and volume information, trains and predicts if the future realized volatility will be higher or lower than a level.  Machine Learning clustering Decision Tree algorithm trains on a financial asset's daily market information.  Function allows user to set a range of volatilities to test after training.

In [ ]:
import pandas as pd
import numpy as np

In [2]:
from IPython.display import display # Allows the use of display() for DataFrames

# Pretty display for notebooks
%matplotlib inline

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
# Import the classifier from sklearn
from sklearn.tree import DecisionTreeClassifier

In [5]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [6]:
from sklearn.metrics import precision_recall_fscore_support

In [7]:
og = pd.read_csv(r"C:\Users\Matt\Desktop\shop.csv")

In [8]:
len(og)

1143

In [9]:
def vol_convert(vol):
    rate = vol/1600
    return rate

In [10]:
start_vol = 4
end_vol = 10
step = .15
hist_period1 = 10
hist_period2 = 20
hist_period3 = 30
volume_period1 = 2
volume_period2 = 4
forward_vol_period = 20
vol_to_test = 6
rate = vol_convert(vol_to_test)

In [11]:
og.tail()

       Date Time    Open      High      Low   Close  Change   Volume
1138  11/27/2019  337.51  342.6500  330.080  341.00    4.81  2415200
1139  11/29/2019  339.90  344.0000  335.510  336.75   -4.25  1206700
1140   12/2/2019  336.00  336.0000  311.532  330.84   -5.91  2990200
1141   12/3/2019  321.01  351.3100  320.000  350.66   19.82  3278200
1142   12/4/2019  350.00  376.9099  349.510  372.00   21.34  5607400

In [12]:
data = og.copy()

In [13]:
#process dataset ready for machine learning, add custome columns, forward vol uses mean close to close and abs change 

def process(dataframe, hist1, hist2, hist3, volume1, volume2, forward_vol_period, question_vol, cushion):
    
    
    dataframe['abs_change'] = dataframe['Change'].abs() / dataframe['Close']
    
    dataframe['high_move'] = (((dataframe.High - dataframe.Close.shift(1))/dataframe['Close']).abs())
    dataframe['low_move'] = (((dataframe.Low - data.Close.shift(1))/dataframe['Close']).abs())
    dataframe['max_move'] = dataframe[['high_move', 'low_move']].max(axis=1)
    
    dataframe['hist_max_1'] = dataframe.max_move.rolling(window=hist1).mean()
    dataframe['hist_max_2'] = dataframe.max_move.rolling(window=hist2).mean()
    dataframe['hist_max_3'] = dataframe.max_move.rolling(window=hist3).mean()
    
    dataframe['hist_change_1'] = dataframe.abs_change.rolling(window=hist1).mean()
    dataframe['hist_change_2'] = dataframe.abs_change.rolling(window=hist2).mean()
    dataframe['hist_change_3'] = dataframe.abs_change.rolling(window=hist3).mean()
    
    dataframe['avg_max_close'] = dataframe[['max_move', 'abs_change']].mean(axis=1)
    
    dataframe['hist_avgmax_1'] = dataframe.avg_max_close.rolling(window=hist1).mean()
    dataframe['hist_avgmax_2'] = dataframe.avg_max_close.rolling(window=hist2).mean()
    dataframe['hist_avgmax_3'] = dataframe.avg_max_close.rolling(window=hist3).mean()
    
    dataframe['hist_volume_1'] = dataframe.Volume.rolling(window=volume1).mean()
    dataframe['hist_volume_2'] = dataframe.Volume.rolling(window=volume2).mean()
    
    dataframe['backtothefuture'] = dataframe.avg_max_close.rolling(window=forward_vol_period).mean()
    
    dataframe['forward_avg_close_max'] = dataframe['backtothefuture'].shift(-forward_vol_period)
    
    
    
    
    
    
    dataframe['volatile'] = (dataframe['forward_avg_close_max'] > question_vol + cushion)
    dataframe = dataframe.applymap(lambda x: 1 if x == True else x)
    dataframe = dataframe.applymap(lambda x: 0 if x == False else x)
    #drop column 
    del dataframe['Date Time']
    del dataframe['Open']
    del dataframe['High']
    del dataframe['Low']
    del dataframe['Close']
    del dataframe['backtothefuture']
    
    return dataframe

In [14]:
#set and process dataset 
new_data = process(data,hist_period1 ,hist_period2 ,hist_period3 ,volume_period1,volume_period2,forward_vol_period, rate, 0)

In [15]:
new_data.tail()

,Change,Volume,abs_change,high_move,low_move,max_move,hist_max_1,hist_max_2,hist_max_3,hist_change_1,hist_change_2,hist_change_3,avg_max_close,hist_avgmax_1,hist_avgmax_2,hist_avgmax_3,hist_volume_1,hist_volume_2,forward_avg_close_max,volatile
1138,4.81,2415200,0.014106,0.018944,0.017918,0.018944,0.025110,0.029153,0.036698,0.014966,0.018804,0.024290,0.016525,0.020038,0.023978,0.030494,2649900.0,1950275.0,NaN,0
1139,-4.25,1206700,0.012621,0.008909,0.016303,0.016303,0.024954,0.028313,0.036207,0.015633,0.018550,0.023936,0.014462,0.020293,0.023431,0.030072,1810950.0,1970325.0,NaN,0
1140,-5.91,2990200,0.017864,0.002267,0.076224,0.076224,0.031661,0.030781,0.036711,0.017397,0.018940,0.022729,0.047044,0.024529,0.024860,0.029720,2098450.0,2374175.0,NaN,0
1141,19.82,3278200,0.056522,0.058376,0.030913,0.058376,0.033334,0.031590,0.037383,0.019767,0.020329,0.024051,0.057449,0.026551,0.025959,0.030717,3134200.0,2472575.0,NaN,0
1142,21.34,5607400,0.057366,0.070564,0.003091,0.070564,0.037713,0.032843,0.037018,0.023385,0.021097,0.023734,0.063965,0.030549,0.026970,0.030376,4442800.0,3270625.0,NaN,0

In [16]:
new_data['forward_avg_close_max'].describe()

count    1123.000000
mean        0.030070
std         0.008846
min         0.015286
25%         0.023171
50%         0.028567
75%         0.033776
max         0.059552
Name: forward_avg_close_max, dtype: float64

In [17]:
new_data['volatile'].value_counts()

1    1123
0      20
Name: volatile, dtype: int64

In [18]:
new_data = new_data.dropna(how = 'any')

In [19]:
new_data.head(20)

,Change,Volume,abs_change,high_move,low_move,max_move,hist_max_1,hist_max_2,hist_max_3,hist_change_1,hist_change_2,hist_change_3,avg_max_close,hist_avgmax_1,hist_avgmax_2,hist_avgmax_3,hist_volume_1,hist_volume_2,forward_avg_close_max,volatile
30,0.23,348900,0.007477,0.009753,0.065995,0.065995,0.061786,0.072770,0.062132,0.040730,0.044809,0.037647,0.036736,0.051258,0.058790,0.049889,249100.0,453750.0,0.045835,1
31,-1.57,187300,0.053786,0.013703,0.059267,0.059267,0.062717,0.073122,0.061825,0.041846,0.045099,0.037933,0.056526,0.052282,0.059111,0.049879,268100.0,247425.0,0.044049,1
32,-0.13,249100,0.004474,0.040950,0.013421,0.040950,0.061250,0.074209,0.059978,0.040820,0.044896,0.035476,0.022712,0.051035,0.059552,0.047727,218200.0,233650.0,0.046648,1
33,0.54,280400,0.018243,0.041554,0.001351,0.041554,0.062076,0.072007,0.060125,0.039429,0.041529,0.036024,0.029899,0.050753,0.056768,0.048074,264750.0,266425.0,0.047393,1
34,0.82,220000,0.026956,0.045694,0.005260,0.045694,0.060052,0.069876,0.060937,0.038187,0.038565,0.036616,0.036325,0.049120,0.054221,0.048776,250200.0,234200.0,0.048550,1
35,0.44,145500,0.014258,0.029488,0.002592,0.029488,0.055594,0.065027,0.061188,0.032589,0.036644,0.036933,0.021873,0.044091,0.050835,0.049060,182750.0,223750.0,0.050152,1
36,-1.52,357100,0.051806,0.005112,0.066462,0.066462,0.053050,0.064571,0.062563,0.030023,0.035810,0.038189,0.059134,0.041536,0.050191,0.050376,251300.0,250750.0,0.048491,1
37,0.05,148200,0.001701,0.018033,0.013950,0.018033,0.041771,0.060270,0.062496,0.021064,0.035222,0.037651,0.009867,0.031417,0.047746,0.050073,252650.0,217700.0,0.049655,1
38,2.88,1619800,0.089247,0.091726,0.007437,0.091726,0.048963,0.058808,0.063151,0.029350,0.035353,0.039804,0.090487,0.039156,0.047080,0.051478,884000.0,567650.0,0.046555,1
39,1.48,414100,0.043852,0.049185,0.018667,0.049185,0.050835,0.057044,0.063963,0.031180,0.037503,0.040524,0.046519,0.041008,0.047274,0.052243,1016950.0,634800.0,0.045254,1
40,-0.53,414700,0.015954,0.027393,0.049970,0.049970,0.049233,0.055509,0.064924,0.032028,0.036379,0.040549,0.032962,0.040630,0.045944,0.052737,414400.0,649200.0,0.046474,1
41,-1.08,255700,0.033603,0.008401,0.057872,0.057872,0.049093,0.055905,0.065113,0.030009,0.035928,0.040069,0.045737,0.039551,0.045916,0.052591,335200.0,676075.0,0.047001,1
42,0.97,265700,0.029296,0.069163,0.013289,0.069163,0.051915,0.056582,0.066777,0.032492,0.036656,0.040761,0.049230,0.042203,0.046619,0.053769,260700.0,337550.0,0.047816,1
43,0.46,357700,0.013703,0.048853,0.003873,0.048853,0.052645,0.057360,0.065553,0.032038,0.035734,0.038365,0.031278,0.042341,0.046547,0.051959,311700.0,323450.0,0.049277,1
44,-0.70,200400,0.021296,0.011561,0.046243,0.046243,0.052700,0.056376,0.064151,0.031472,0.034829,0.036201,0.033769,0.042086,0.045603,0.050176,279050.0,269875.0,0.053829,1
45,1.19,175000,0.034938,0.047270,0.001174,0.047270,0.054478,0.055036,0.061510,0.033540,0.033064,0.035609,0.041104,0.044009,0.044050,0.048560,187700.0,249700.0,0.055626,1
46,0.10,201500,0.002927,0.023126,0.025176,0.025176,0.050349,0.051699,0.059831,0.028652,0.029337,0.033424,0.014052,0.039500,0.040518,0.046627,188250.0,233650.0,0.057519,1
47,3.97,1162700,0.104117,0.159717,0.074744,0.159717,0.064517,0.053144,0.061686,0.038893,0.029979,0.036446,0.131917,0.051705,0.041561,0.049066,682100.0,434900.0,0.052388,1
48,-0.74,525800,0.019791,0.003209,0.047606,0.047606,0.060105,0.054534,0.059241,0.031948,0.030649,0.034218,0.033699,0.046027,0.042592,0.046729,844250.0,516250.0,0.051864,1
49,2.97,535100,0.073588,0.076809,0.019574,0.076809,0.062868,0.056852,0.058986,0.034921,0.033051,0.036642,0.075198,0.048895,0.044951,0.047814,530450.0,606275.0,0.049347,1

In [20]:
# Store the 'Survived' feature in a new variable and remove it from the dataset
outcomes = new_data['volatile']


del new_data['volatile']
del new_data['forward_avg_close_max']


features = new_data

# Show the new dataset with 'Survived' removed
features.head()

,Change,Volume,abs_change,high_move,low_move,max_move,hist_max_1,hist_max_2,hist_max_3,hist_change_1,hist_change_2,hist_change_3,avg_max_close,hist_avgmax_1,hist_avgmax_2,hist_avgmax_3,hist_volume_1,hist_volume_2
30,0.23,348900,0.007477,0.009753,0.065995,0.065995,0.061786,0.072770,0.062132,0.040730,0.044809,0.037647,0.036736,0.051258,0.058790,0.049889,249100.0,453750.0
31,-1.57,187300,0.053786,0.013703,0.059267,0.059267,0.062717,0.073122,0.061825,0.041846,0.045099,0.037933,0.056526,0.052282,0.059111,0.049879,268100.0,247425.0
32,-0.13,249100,0.004474,0.040950,0.013421,0.040950,0.061250,0.074209,0.059978,0.040820,0.044896,0.035476,0.022712,0.051035,0.059552,0.047727,218200.0,233650.0
33,0.54,280400,0.018243,0.041554,0.001351,0.041554,0.062076,0.072007,0.060125,0.039429,0.041529,0.036024,0.029899,0.050753,0.056768,0.048074,264750.0,266425.0
34,0.82,220000,0.026956,0.045694,0.005260,0.045694,0.060052,0.069876,0.060937,0.038187,0.038565,0.036616,0.036325,0.049120,0.054221,0.048776,250200.0,234200.0

In [21]:
X_train, X_test, y_train, y_test = train_test_split(features, outcomes, test_size=0.30, random_state=42)

In [22]:
# TODO: Define the classifier, and fit it to the data
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [23]:
# Making predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculate the accuracy
from sklearn.metrics import accuracy_score
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)
print('The training accuracy is', train_accuracy)
print('The test accuracy is', test_accuracy)

The training accuracy is 1.0
The test accuracy is 1.0

In [24]:
# Training the model
model = DecisionTreeClassifier(max_depth=15, min_samples_leaf=20, min_samples_split=20)
model.fit(X_train, y_train)

# Making predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculating accuracies
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)

print('The training accuracy is', train_accuracy)
print('The test accuracy is', test_accuracy)

The training accuracy is 1.0
The test accuracy is 1.0

In [25]:
def process_sample(dataframe, hist1, hist2, hist3, volume1, volume2):
    
    dataframe['abs_change'] = dataframe['Change'].abs() / dataframe['Close']
    
    dataframe['high_move'] = (((dataframe.High - dataframe.Close.shift(1))/dataframe['Close']).abs())
    dataframe['low_move'] = (((dataframe.Low - data.Close.shift(1))/dataframe['Close']).abs())
    dataframe['max_move'] = dataframe[['high_move', 'low_move']].max(axis=1)
    
    dataframe['hist_max_1'] = dataframe.max_move.rolling(window=hist1).mean()
    dataframe['hist_max_2'] = dataframe.max_move.rolling(window=hist2).mean()
    dataframe['hist_max_3'] = dataframe.max_move.rolling(window=hist3).mean()
    
    dataframe['hist_change_1'] = dataframe.abs_change.rolling(window=hist1).mean()
    dataframe['hist_change_2'] = dataframe.abs_change.rolling(window=hist2).mean()
    dataframe['hist_change_3'] = dataframe.abs_change.rolling(window=hist3).mean()
    
    dataframe['avg_max_close'] = dataframe[['max_move', 'abs_change']].mean(axis=1)
    
    dataframe['hist_avgmax_1'] = dataframe.avg_max_close.rolling(window=hist1).mean()
    dataframe['hist_avgmax_2'] = dataframe.avg_max_close.rolling(window=hist2).mean()
    dataframe['hist_avgmax_3'] = dataframe.avg_max_close.rolling(window=hist3).mean()
    
    dataframe['hist_volume_1'] = dataframe.Volume.rolling(window=volume1).mean()
    dataframe['hist_volume_2'] = dataframe.Volume.rolling(window=volume2).mean()
    

    #drop column 
    del dataframe['Open']
    del dataframe['High']
    del dataframe['Low']
    del dataframe['Close']
    
    return dataframe

In [26]:
new_og = process_sample(og, hist_period1 ,hist_period2 ,hist_period3 , volume_period1, volume_period2)

In [27]:
new_og.tail()

,Date Time,Change,Volume,abs_change,high_move,low_move,max_move,hist_max_1,hist_max_2,hist_max_3,hist_change_1,hist_change_2,hist_change_3,avg_max_close,hist_avgmax_1,hist_avgmax_2,hist_avgmax_3,hist_volume_1,hist_volume_2
1138,11/27/2019,4.81,2415200,0.014106,0.018944,0.017918,0.018944,0.025110,0.029153,0.036698,0.014966,0.018804,0.024290,0.016525,0.020038,0.023978,0.030494,2649900.0,1950275.0
1139,11/29/2019,-4.25,1206700,0.012621,0.008909,0.016303,0.016303,0.024954,0.028313,0.036207,0.015633,0.018550,0.023936,0.014462,0.020293,0.023431,0.030072,1810950.0,1970325.0
1140,12/2/2019,-5.91,2990200,0.017864,0.002267,0.076224,0.076224,0.031661,0.030781,0.036711,0.017397,0.018940,0.022729,0.047044,0.024529,0.024860,0.029720,2098450.0,2374175.0
1141,12/3/2019,19.82,3278200,0.056522,0.058376,0.030913,0.058376,0.033334,0.031590,0.037383,0.019767,0.020329,0.024051,0.057449,0.026551,0.025959,0.030717,3134200.0,2472575.0
1142,12/4/2019,21.34,5607400,0.057366,0.070564,0.003091,0.070564,0.037713,0.032843,0.037018,0.023385,0.021097,0.023734,0.063965,0.030549,0.026970,0.030376,4442800.0,3270625.0

In [28]:
del new_og['Date Time']

In [29]:
new_og.tail()

,Change,Volume,abs_change,high_move,low_move,max_move,hist_max_1,hist_max_2,hist_max_3,hist_change_1,hist_change_2,hist_change_3,avg_max_close,hist_avgmax_1,hist_avgmax_2,hist_avgmax_3,hist_volume_1,hist_volume_2
1138,4.81,2415200,0.014106,0.018944,0.017918,0.018944,0.025110,0.029153,0.036698,0.014966,0.018804,0.024290,0.016525,0.020038,0.023978,0.030494,2649900.0,1950275.0
1139,-4.25,1206700,0.012621,0.008909,0.016303,0.016303,0.024954,0.028313,0.036207,0.015633,0.018550,0.023936,0.014462,0.020293,0.023431,0.030072,1810950.0,1970325.0
1140,-5.91,2990200,0.017864,0.002267,0.076224,0.076224,0.031661,0.030781,0.036711,0.017397,0.018940,0.022729,0.047044,0.024529,0.024860,0.029720,2098450.0,2374175.0
1141,19.82,3278200,0.056522,0.058376,0.030913,0.058376,0.033334,0.031590,0.037383,0.019767,0.020329,0.024051,0.057449,0.026551,0.025959,0.030717,3134200.0,2472575.0
1142,21.34,5607400,0.057366,0.070564,0.003091,0.070564,0.037713,0.032843,0.037018,0.023385,0.021097,0.023734,0.063965,0.030549,0.026970,0.030376,4442800.0,3270625.0

In [30]:
last_date = new_og.index[-1]
last_date

1142

In [31]:
one_sample = [new_og.iloc[last_date,:]]

In [32]:
model.predict(one_sample)

array([1], dtype=int64)

In [33]:
def tail_vol(period, dataframe):
    rate = dataframe['avg_max_close'].tail(period).mean()
    vol = round((rate*100*16),2)
    
    return vol

In [34]:
tail_vol(20, new_og)

43.15

In [35]:
answer = model.predict(one_sample)
answer = answer[0]
answer

1

In [36]:
def find_vol(dataframe, start_vol, end_vol, step, hist_period1, hist_period2, hist_period3, 
             volume_period1, volume_period2, forward_vol_period):
    vol = start_vol
    while vol < end_vol: 
        answer = 1 
        rate = vol_convert(vol)
        beg_frame = dataframe.copy()
        
        frame = process(dataframe,hist_period1 ,hist_period2 ,hist_period3 ,volume_period1,volume_period2,
                        forward_vol_period, rate, 0)
   
    
        frame = frame.dropna(how = 'any')
    
        outcomes = frame['volatile']
        features = frame

        del frame['volatile']
        del frame['forward_avg_close_max']
        X_train, X_test, y_train, y_test = train_test_split(features, outcomes, test_size=0.30, random_state=42)
        # Training the model
        model = DecisionTreeClassifier(max_depth=15, min_samples_leaf=20, min_samples_split=20)
        model.fit(X_train, y_train)

        # Making predictions
        y_train_pred = model.predict(X_train)
        y_test_pred = model.predict(X_test)

        # Calculating accuracies
        train_accuracy = accuracy_score(y_train, y_train_pred)
        test_accuracy = accuracy_score(y_test, y_test_pred)
        precision = precision_score(y_test, y_test_pred)
        recall = recall_score(y_test, y_test_pred)
        the_f1 = f1_score(y_test, y_test_pred)
        
   
    
        original_data = process_sample(beg_frame, hist_period1 ,hist_period2 ,hist_period3 , volume_period1, volume_period2)
        #original_data = original_data.dropna(how = 'any')
        
        del original_data['Date Time']
        last_row = original_data.index[-1]
        one_sample = [new_og.iloc[last_row,:]] 
    
        answer = model.predict(one_sample)
        answer = answer[0]
        print(vol)
        print(answer)
        print('The training accuracy is', train_accuracy)
        print('The test accuracy is', test_accuracy)
        print('The precision is', precision)
        print('The recall is', recall)
        print('The F1 is', the_f1 )
        
        
        print('The number of days', len(outcomes))
        print('The percentage of volatile days', ((outcomes == 1).sum()) / len(outcomes))
        
        
        
        #print(frame.head(1))
    
        #if answer == 0:
            #break
        
        vol = vol + step

In [37]:
fv_dataframe = pd.read_csv(r"C:\Users\Matt\Desktop\shop.csv")
vol = 48
start_vol = 40
end_vol = 60
step = 1
hist_period1 = 10
hist_period2 = 15
hist_period3 = 20
volume_period1 = 4
volume_period2 = 8
forward_vol_period = 25
rate = vol_convert(vol)

In [38]:
find_vol(fv_dataframe, start_vol, end_vol, step, hist_period1, hist_period2, hist_period3, 
         volume_period1, volume_period2, forward_vol_period)

40
1
The training accuracy is 0.8346354166666666
The test accuracy is 0.7212121212121212
The precision is 0.7404580152671756
The recall is 0.8899082568807339
The F1 is 0.8083333333333333
The number of days 1098
The percentage of volatile days 0.6930783242258652
41
1
The training accuracy is 0.8333333333333334
The test accuracy is 0.7757575757575758
The precision is 0.7878787878787878
The recall is 0.8792270531400966
The F1 is 0.8310502283105022
The number of days 1098
The percentage of volatile days 0.6493624772313297
42
1
The training accuracy is 0.8177083333333334
The test accuracy is 0.7242424242424242
The precision is 0.7864583333333334
The recall is 0.7512437810945274
The F1 is 0.7684478371501272
The number of days 1098
The percentage of volatile days 0.6165755919854281
43
1
The training accuracy is 0.82421875
The test accuracy is 0.7151515151515152
The precision is 0.7373737373737373
The recall is 0.776595744680851
The F1 is 0.7564766839378237
The number of days 1098
The percentage of volatile days 0.5856102003642987
44
0
The training accuracy is 0.8203125
The test accuracy is 0.7
The precision is 0.6935483870967742
The recall is 0.7543859649122807
The F1 is 0.7226890756302521
The number of days 1098
The percentage of volatile days 0.5409836065573771
45
0
The training accuracy is 0.7890625
The test accuracy is 0.6696969696969697
The precision is 0.6538461538461539
The recall is 0.6496815286624203
The F1 is 0.6517571884984026
The number of days 1098
The percentage of volatile days 0.5009107468123861
46
0
The training accuracy is 0.7916666666666666
The test accuracy is 0.693939393939394
The precision is 0.6838235294117647
The recall is 0.6158940397350994
The F1 is 0.6480836236933798
The number of days 1098
The percentage of volatile days 0.4763205828779599
47
0
The training accuracy is 0.7903645833333334
The test accuracy is 0.7121212121212122
The precision is 0.6752136752136753
The recall is 0.5808823529411765
The F1 is 0.624505928853755
The number of days 1098
The percentage of volatile days 0.43806921675774135
48
0
The training accuracy is 0.7955729166666666
The test accuracy is 0.7606060606060606
The precision is 0.8
The recall is 0.4838709677419355
The F1 is 0.6030150753768845
The number of days 1098
The percentage of volatile days 0.39799635701275043
49
0
The training accuracy is 0.8190104166666666
The test accuracy is 0.7848484848484848
The precision is 0.6886792452830188
The recall is 0.6576576576576577
The F1 is 0.6728110599078342
The number of days 1098
The percentage of volatile days 0.35974499089253187
50
0
The training accuracy is 0.8359375
The test accuracy is 0.8333333333333334
The precision is 0.7529411764705882
The recall is 0.6530612244897959
The F1 is 0.6994535519125683
The number of days 1098
The percentage of volatile days 0.319672131147541
51
0
The training accuracy is 0.83984375
The test accuracy is 0.8242424242424242
The precision is 0.691358024691358
The recall is 0.6292134831460674
The F1 is 0.6588235294117647
The number of days 1098
The percentage of volatile days 0.2923497267759563
52
0
The training accuracy is 0.8567708333333334
The test accuracy is 0.8787878787878788
The precision is 0.8392857142857143
The recall is 0.6025641025641025
The F1 is 0.7014925373134329
The number of days 1098
The percentage of volatile days 0.2604735883424408
53
0
The training accuracy is 0.8736979166666666
The test accuracy is 0.9030303030303031
The precision is 0.8392857142857143
The recall is 0.6714285714285714
The F1 is 0.746031746031746
The number of days 1098
The percentage of volatile days 0.2395264116575592
54
0
The training accuracy is 0.8841145833333334
The test accuracy is 0.8757575757575757
The precision is 0.6567164179104478
The recall is 0.7096774193548387
The F1 is 0.682170542635659
The number of days 1098
The percentage of volatile days 0.2204007285974499
55
0
The training accuracy is 0.8854166666666666
The test accuracy is 0.9151515151515152
The precision is 0.7592592592592593
The recall is 0.7321428571428571
The F1 is 0.7454545454545455
The number of days 1098
The percentage of volatile days 0.1994535519125683
56
0
The training accuracy is 0.88671875
The test accuracy is 0.9121212121212121
The precision is 0.7222222222222222
The recall is 0.7358490566037735
The F1 is 0.7289719626168224
The number of days 1098
The percentage of volatile days 0.18670309653916212
57
0
The training accuracy is 0.89453125
The test accuracy is 0.8636363636363636
The precision is 0.5333333333333333
The recall is 0.8
The F1 is 0.64
The number of days 1098
The percentage of volatile days 0.17395264116575593
58
0
The training accuracy is 0.89453125
The test accuracy is 0.9
The precision is 0.6363636363636364
The recall is 0.7291666666666666
The F1 is 0.6796116504854369
The number of days 1098
The percentage of volatile days 0.16484517304189436
59
0
The training accuracy is 0.9010416666666666
The test accuracy is 0.9030303030303031
The precision is 0.6363636363636364
The recall is 0.7446808510638298
The F1 is 0.6862745098039216
The number of days 1098
The percentage of volatile days 0.15938069216757741

In [39]:
ex = process(fv_dataframe,hist_period1 ,hist_period2 ,hist_period3 ,volume_period1,volume_period2,
                        forward_vol_period, rate, 0)

In [40]:
del ex['forward_avg_close_max']
del ex['volatile']

test_rate = vol_convert(vol)

ex['volatile'] = (ex['avg_max_close'] > test_rate)

ex = ex.applymap(lambda x: 0 if x == False else x)
ex = ex.applymap(lambda x: 1 if x == True else x)

In [41]:
ex = ex.dropna(how = 'any')
len(ex)

1123

In [42]:
print('the 5 day scalp average vol is', tail_vol(5, ex) )
print('the 10 day scalp average vol is', tail_vol(10, ex) )
print('the 20 day scalp average vol is', tail_vol(20, ex) )
print('the 40 day scalp average vol is', tail_vol(40, ex) )
print('the 60 day scalp average vol is', tail_vol(60, ex) )
print('the 90 day scalp average vol is', tail_vol(40, ex) )
print('the 120 day scalp average vol is', tail_vol(60, ex) )

the 5 day scalp average vol is 63.82
the 10 day scalp average vol is 48.88
the 20 day scalp average vol is 43.15
the 40 day scalp average vol is 52.23
the 60 day scalp average vol is 51.79
the 90 day scalp average vol is 52.23
the 120 day scalp average vol is 51.79

In [43]:
fourty = ex.tail(40)
thirty = ex.tail(30)
twenty = ex.tail(20)
ten = ex.tail(10)
five = ex.tail(5)

#new['volatile'].sum()/len(new)

In [44]:
print('vol is', vol)
print('the percentage of volatile days over the last 5 days:', five['volatile'].sum()/len(five) )
print('the percentage of volatile days over the last 10 days:', ten['volatile'].sum()/len(ten) )
print('the percentage of volatile days over the last 20 days:', twenty['volatile'].sum()/len(twenty) )
print('the percentage of volatile days over the last 30 days:', thirty['volatile'].sum()/len(thirty) )
print('the percentage of volatile days over the last 40 days:', fourty['volatile'].sum()/len(fourty) )

vol is 48
the percentage of volatile days over the last 5 days: 0.6
the percentage of volatile days over the last 10 days: 0.4
the percentage of volatile days over the last 20 days: 0.35
the percentage of volatile days over the last 30 days: 0.4
the percentage of volatile days over the last 40 days: 0.425

In [45]:
five.tail(1)

,Change,Volume,abs_change,high_move,low_move,max_move,hist_max_1,hist_max_2,hist_max_3,hist_change_1,hist_change_2,hist_change_3,avg_max_close,hist_avgmax_1,hist_avgmax_2,hist_avgmax_3,hist_volume_1,hist_volume_2,volatile
1142,21.34,5607400,0.057366,0.070564,0.003091,0.070564,0.037713,0.033473,0.032843,0.023385,0.021458,0.021097,0.063965,0.030549,0.027465,0.02697,3270625.0,2610450.0,1

In [46]:
len(ex)

1123